<div class="d-flex mx-auto table-responsive w-75">
    <table class="table table-striped table-hover table-lg">
        <thead>
            <tr>
                <th scope="col" class="text-nowrap"><%= t 'activerecord.attributes.examination.token' %></th>
                <th scope="col" class="text-nowrap"><%= t 'activerecord.attributes.examination.date' %></th>
                <th scope="col" class="text-nowrap"><%= t 'activerecord.attributes.patient.full_name' %></th>
                <th scope="col" class="text-nowrap"><%= t 'activerecord.attributes.doctor.crm' %></th>
                <th scope="col" class="text-nowrap"><%= t 'activerecord.attributes.doctor.crm_state' %></th>
                <th scope="col" class="text-nowrap"><%= t 'activerecord.attributes.doctor.full_name' %></th>
            </tr>
        </thead>
        <tbody>
            <% examinations.each do |examination| %>
                <tr>
                    <td class="text-nowrap"><%= examination.token %></td>
                    <td class="text-nowrap"><%= l examination.date %></td>
                    <td class="text-nowrap"><%= examination.patient.full_name %></td>
                    <td class="text-nowrap"><%= examination.doctor.crm %></td>
                    <td class="text-nowrap"><%= examination.doctor.crm_state %></td>
                    <td class="text-nowrap"><%= examination.doctor.full_name %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>